body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: #849d8f
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
}

li {
list-style: none;
}

a {
  color: inherit;
}

a:hover,
a:focus {
  color: #ffbc9e;
}

a:active {
  color: #ffbc9e;
}

.button {
  font: inherit;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(#e74a35, #f26843);
}

.button:hover,
.button:focus {
  box-shadow: 0 2px 2px #ac1000;
  background-image: linear-gradient(#f58669, #ec6f5e);
}

.button:active {
  box-shadow: inset 0px 2px 2px #942718;
  background-image: linear-gradient(#d74632, #e1613e);
}

.input {
  line-height: 24px;
  border: solid 2px rgba(154, 154, 154, 0.52);
}

.input:hover,
.input:focus {
  border: solid 2px rgba(46, 136, 228, 0.52);
}

.input::placeholder {
  line-height: 24px;
  color: #999999;
  background-color: #f8f7f4;
}

.inner-page {
  background: #8996a6;
}

.main-header .working-clock {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-align: right;
}

.main-header .numder {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
  text-align: right;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
}

.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.catalog-item-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

a .catalog-item-title {
  text-align: center;
}

.main-navigation {
  line-height: 18px;
  font-weight: bold;
}

.options {
  display: block;
  background-color: #f8f7f4;
  width: 143px;
  padding: 12px 20px 14px 21px;
}

.options a {
  color: #323232;
  text-decoration: none;
}

.options a:hover,
.options a:focus {
  background-color: #fbded7;
}

.options a:active {
  background-color: #f6b5a5;
}

.option .option-list:first-child a {
  border-radius: 5px 5px 0 0;
}

.option .option-list:last-child a {
  border-radius: 0 0 5px 5px;
}

.option-list.new a {
   font-weight: bold;
   position: relative;
}

.option-list.new a:after {
   content: '';
   position: absolute;
   height: 1px;
   left: 1px;
   right: 1px;
   bottom: 0;
}

.bold {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.features {
  background-image: url("../img/bg-wafer.jpg");
  background-color: #eee3cc;
  background-size: cover;
  border-radius: 15px;
  background-repeat: no-repeat;
  color: #323232;
}

.news {
  background-image: url("../img/index-straw.jpg");
  background-color: #8996a6;
  background-size: cover;
  border-radius: 15px;
  background-repeat: no-repeat;
  color: #323232;
}

.news a {
text-decoration: underline;
border-bottom: 0 solid rgba(255, 255, 255, 0.2)
}

.subscription {
  background-image: linear-gradient(#f8f7f4, #f8f7f4), url("../img/border.png");
  color: #5a5a5a;
  border-radius: 5px;
  background-clip: padding-box, border-box;
  padding: 15px;
  background-origin: padding-box, border-box;
  border: 5px solid transparent;
}

.info-list {
  font-size: 13px;
  line-height: 18px;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

